@font-face {
    font-family: Common Pixel;
    src: url("../fonts/common_pixel.TTF");
}

canvas {
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(41, 92, 138);
    box-shadow: inset 0px 0px 35px 5px rgba(255,255,255,0.4);
}

span {
    padding: 0.5em;
    font-size: 25px;
}

a {
    transform: translateX(20%);
    /* border: 2px solid white;
    border-radius: 5px; */
}

a p {
    color: black;
    font-size: 30px;
    font-family: Common Pixel;
}

div {
    text-align: center;
}

.brushed {
    background: url("../pictures/brushed_white.png");
    width: max-content;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    background-position-y: -30px;
}

.anchor-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: translateY(250%);
}